<% form_tag session_path do -%>
<p><%= label_tag 'login', t(:login) %>:<br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password', t(:password) %>:<br/>
<%= password_field_tag 'password', nil %></p>

<p><%= submit_tag t(:login_btn) %></p>
<% end -%>
