<% if logged_in? -%>
  <div id="user-bar-greeting"><%= image_tag('icons/user.png', :class => 'icon')  %><%= current_user.login %></div>
<% else -%>
  <div id="user-bar-greeting"><%= link_to_login_with_IP t(:not_logged_in), :style => 'border: none;' %></div>
  <div id="user-bar-action"  ><%= link_to t(:login_btn),  login_path,  { :title => t(:login_btn) } %> /
                               <%= link_to t(:signup), signup_path, { :title => t(:signup) } %></div>
<% end -%>
