<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MoneyTracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> 
    <%= stylesheet_link_tag 'mt_layout', 'mt_forms', 'mt_data_tables', 'facebox' %>
    <%= javascript_include_tag 'jquery', 'facebox', 'less_routes', 'forms_core' %>
    <%= javascript_tag "var authenticityToken = '#{form_authenticity_token}';" %>
  </head>
  <body>
    <div id="topcontainer">
      <div id="logo">
        <%= image_tag("logo.png", :alt => 'MoneyTracker logo') %> 
      </div>
      <div id="navcontainer">
        <ul id="navlist">
          <%= main_menu() %>
        </ul>
      </div>
      <%= render(:file => 'users/_user_bar') %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <a href="http://badurowie.org/moneytracker/">MoneyTracker</a> - &copy; 2008 - 2009 <a href="http://www.badurowie.org">Łukasz Badura</a>.
    </div>
  </body>
</html>
