<tr id="account-row-<%= account.id %>" class="data-item">
  <td><%=h account.name %></td>
  <td><%=h account.number %></td>
  <td><%=h account.owner %></td>
  <td><%= account_controls(account) %></td>
</tr>


