<table id="list-of-accounts" class="data-table">
<% unless @accounts.nil? || @accounts.empty? then %>
    <thead>
      <th><%=t :account_name %></th>
      <th><%=t :account_number %></th>
      <th><%=t :account_owner %></th>
    </thead>
    <tbody>
        <% @accounts.each do |account| %>
          <%= render :partial => 'accounts/account_item', :locals => {:account => account} %>
        <% end %>
<% else %>
    <tr><td colspan="4"><div class="empty"><%=t :no_accounts %></div>
<% end %>
    </tbody>
</table>
