<%= error_messages_for :account %>
<% form_tag(accounts_path, {:class => 'mt-form', :id => 'new-account-form'}) do -%>
  <fieldset>
    <ul>
      <li>
        <label for="name">Name</label>
        <%= text_field(:account, :name) %>
      </li>
      <li>
        <label for="iban">IBAN</label>
        <%= text_field(:account, :iban) %>
      </li>
      <li>
        <label for="number">Alternative number</label>
        <%= text_field(:account, :number) %>
      </li>
      <li>
        <label for="owner">Owner's name</label>
        <%= text_field(:account, :owner) %>
      </li>
      <li>
        <input type="button" name="add-account-button" id="add-account-button" value="Add account">
      </li>
    </ul>
  </fieldset>
<% end -%>
