<%= error_messages_for :account %>
<% form_tag(accounts_path, {:class => 'mt-form', :id => 'new-account-form'}) do -%>
  <fieldset>
    <ul>
      <li>
        <label for="name"><%=t :account_name %></label>
        <%= text_field(:account, :name) %>
        <%= hidden_field_tag(:id, params[:id]) %>
      </li>
      <li>
        <label for="number"><%=t :account_number %></label>
        <%= text_field(:account, :number) %>
      </li>
      <li>
        <label for="owner"><%=t :account_owner %></label>
        <%= text_field(:account, :owner) %>
      </li>
    </ul>
  </fieldset>
  <input type="button" class="button" name="add-account-button" id="add-account-button" value="<%= update ? t(:update) : t(:add) %>">
<% end -%>
